.topListWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;

  .topListItem {
    box-sizing: border-box;
    padding: 20px;
    background: white;
    border-radius: 6px;
    height: 400px;
    flex: 1 1 200px; /* 关键设置 */;
    min-width: 300px;

    @media (min-width: 576px) {
      width: 100%;
    }

    @media (min-width: 1200px) {
      width: calc(50% - 16px);
    }

    @media (min-width: 1800px) {
      width: calc(25% - 16px);
    }
  }
}
