.logo {
  color: #666;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0;
  border-radius: 4px;

  margin: 13px 8px;
  background: #eee;
  text-align: center;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.content {
  overflow: auto;
  padding: 24px;
}
