.header {
  .action {
    color: black;
    cursor: pointer;
    float: right;
  }
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0;
  border-radius: 4px;

  margin: 16px 8px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.content {
  overflow: auto;
  padding: 24px; 
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
