.header {
  .action {
    color: black;
    cursor: pointer;
    float: right;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.deleteButton {
  color: #e46156;
  &:hover {
    cursor: pointer;
  }
}
