.card {
  background-color: white;
  border-radius: 6px;

  .cardHeader {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 18px;
  }

  .cardBody {
    padding: 16px 24px;
  }
}
