.container{
  background-color: white;
  font-size: 24px;
  padding: 16px 24px;

  >div{
    margin-bottom: 24px;
    padding: 8px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: 666;
  }

  .word{
    padding: 4px 8px;
  }

  .speaking{
    background-color: #e0effa;
  }
}

