.container {
  background-color: white;
  font-size: 26px;
  padding: 16px 24px;

  > div {
    margin-bottom: 24px;
    padding: 8px;
    line-height: 2;
    color: 666;

    > span {
      margin-right: 8px;
    }
  }

  .word {
    padding: 4px 8px;
  }

  .speaking {
    background-color: #e0effa;
    border-radius: 6px;
  }
}
